table, th, td{
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

thead, tbody, tr{
  margin: 0;
  padding: 0;
  width: inherit;
}

th, td{
  width: 20%;
}

th{
  text-align: center;
}

table {
  width: inherit;
}
